*.pdf
bot_venv
bot/.rasa
bot/models
__pycache__
venv
/public/CIPFP Mislata – Centro Integrado Público de Formación Profesional de Mislata_files
/public/CIPFP Mislata – Centro Integrado Público de Formación Profesional de Mislata.html
CIPFP Mislata – Centro Integrado Público de Formación Profesional de Mislata.html
